name: Deploy ASP.NET Core app to Azure Web App

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '*'
env:
  AZURE_WEBAPP_NAME: app-mirs
  AZURE_FUNC_NAME: func-mirs
  AZURE_WEBAPP_PACKAGE_PATH: '.'
  DOTNET_VERSION: '8.0.x'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v3

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }} 
      
      - name: dotnet build and publish Api
        working-directory: ./src/MiRs.API
        run: |
          dotnet restore
          dotnet build --configuration Release
          dotnet publish -c Release -o '../../${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/myapp' 
         
      - name: dotnet build and publish functions
        working-directory: ./src/MiRs.Function
        run: |
          dotnet restore
          dotnet build --configuration Release
          dotnet publish -c Release -o '../../${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/myfunc'

    
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: 'Run Azure webapp deploy action using publish profile credentials'
        uses: azure/webapps-deploy@v2
        with: 
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          package: '${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/myapp'

      - name: Deploy Azure Functions
        uses: Azure/functions-action@v1
        with:
          app-name: ${{ env.AZURE_FUNC_NAME }}
          package: '${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/myfunc'
       
          
